.list{
  padding: 20px;
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.video{
  margin: 20px 0 20px 0;
  width: 33%;
}
.thumbnails{
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width : 1300px) {
  .video{
  width: 50%;
}
.thumbnails{
  width: 90%;
}
}
@media screen and (max-width : 1200px) {
  .list{
  width: 1000px;
}
    .video{
  width: 100%;
}
.thumbnails{
  width: 90%;
}
}
@media screen and (max-width : 1100px) {
    .list{
    width: 700px;
  }
    .video{
    width: 100%;
  }
    .thumbnails{
    width: 90%;
  }
}
@media screen and (max-width : 765px) {
      .list{
    width: 400px;
  }
    .video{
    width: 100%;
  }
    .thumbnails{
    width: 90%;
  }
}